<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="https://ditook.com/static/media/Images/ditook.png">	
	<title>Ditook</title>
	<style type="text/css">
		body { text-align: left; margin-top:200px; margin-left:10%;margin-right:10%;
		}
		.site_name { display:inline; color:skyblue; font-family:"consolas"; }
		.email { color:blue; }
		.message { padding-left:5%; font-size:18px; line-height:30px; }
		h1 {position:relative;}
		.header {padding-left:50px;}
		img { position:absolute; margin-top:-5px;}
	</style>
</head>
<body>
	<article>
		<h1> <img src="https://ditook.com/static/media/Images/ditook.png" width="40" height="40"> <span class="header"> <div class="site_name"><strong>Dit</strong>ook</div> will be back soon!</span> </h1>
		<hr>
		<br>
		<div class="message">
			<p> Sorry for the inconvenience but this site is under maintenance at the movement. If you have any query please email it at <span class="email">ditookweb@gmail.com</span></p>
		</div>
		<br>
		<hr>
		<p> - Greetings from &nbsp;<span class="site_name"><strong>Dit</strong>ook</span></p>		
	</article>  
</body>
</html>